/*https://coolors.co/528e86-eef5db-303633-8c271e-cb904d*/

.root{
    -wintergreen: #0f211f;
    -beige: #eef5dbff;
    -gray: #1c1f1dff;
    -red: #8c271eff;
    -orange: #cb904dff;
    -text: #defffb;
    -text-light: white;
    -background: #242626;
    -background-2: #0a0a0a;
    -transparent-white: rgba(255, 255, 255, 0.3);
    -none: rgba(0,0,0,0);

    -syntax-orange: #ec7336;
    -syntax-purple: #7676f4;
    -syntax-gray: #5b5b76;
    -syntax-deep-purple: #5151e6;

    -fx-background-color : -background;
    -fx-control-inner-background: -background;
    -fx-border-color: -gray;

    -fx-font-family: "Arial";
}

.text{
    -fx-text-fill: -text;
}

.label{
    -fx-text-fill: -text;
}

.edit{
    -fx-font-size: 15px;
    -fx-background-color: #000000;
}

.shadow{
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,10,0.2), 8, 0, 5, 5); box-shadow:  20px 20px 40px #bebebe,*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,10,0.2), 20, 0, 15px, 15px);
}

.card{
    -fx-padding: 15px;
    -fx-background-color : white;
    -fx-background-radius: 5px;
}

.center-text{
    -fx-alignment: center;
}

.gradient{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, -wintergreen, -background);
}

.transparent{
    -fx-background-color: -transparent-white;
}

.bg-1{
    -fx-background-color: -background;
}

.bg-2{
    -fx-background-color: -background-2;
}

/*
* Listview
*/

.list-view{
    -fx-border-color: -none;
    -fx-focus-color: -none;
    -fx-faint-focus-color: -none;
}

.list-cell{
    -fx-focus-color: -none;
    -fx-faint-focus-color: -none;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: derive(-wintergreen, 0.85);
    -fx-text-fill: white; /* 5 */
}
.list-cell {
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.list-cell:odd {
    -fx-background-color: -background; /* 1 */
}

.list-cell:even {
    -fx-background-color: -background; /* for information */
}

.list-cell:filled:hover {
    -fx-background-color: -none; /* 2 */
    -fx-text-fill: -none; /* 5 */
}

.file-cell{
    -fx-background-radius: 2px;
}

.file-cell:hover{
    -fx-background-color: derive(-wintergreen, -0.2);
    -fx-text-fill: -text-light;
}

.file-cell-title{
    -fx-text-fill: -text;
}

.file-cell:hover > file-cell-title{
    -fx-text-fill: -text-light;
}

.file-cell-text{
    -fx-text-fill: derive(-text, 0.85);
}

.file-cell:hover > file-cell-text{
    -fx-text-fill: derive(-text-light, 0.85);
}

.title{
    -fx-alignment: center;
}

.title-text{
    -fx-font-size: 40px;
    -fx-text-fill: -text-light;
    -fx-letter-spacing: 10px;
    -fx-alignment: center;
    -fx-padding: 0 0 0 20px;
    -fx-border-insets: 0 0 0 20px;
    -fx-background-insets: 0 0 0 20px;
}

.title-text-notfirst{
    -fx-padding: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.h2{
    -fx-font-size: 25px;
    -fx-text-fill: -text;
}

.pd-l{
    -fx-padding: 0 0 0 16px;
}

.bottom-border{
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: derive(-wintergreen, 0.85);
}

.rounded-top-corners{
    -fx-background-radius: 5px 5px 0px 0px;
    -fx-border-radius: 5px 5px 0px 0px;
}

/*menu-bar & context-bar*/

.menu-bar {
    -fx-background-color: -background;
}

.menu-bar .label {
    -fx-text-fill: -text;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: derive(-wintergreen, 0.85);
    -fx-text-fill: -text-light;
}

.menu-item {
    -fx-text-fill: -text;
    -fx-background: -background-2;
}
.menu-item .label{
    -fx-text-fill: -text;
}

.menu-item:hover{
    -fx-background: derive(-wintergreen, 0.85);
    -fx-text-fill: -text-light;
}

.menu-item .label:hover{
    -fx-background: derive(-wintergreen, 0.85);
    -fx-text-fill: -text-light;
}

.tool-bar{
    -fx-background: -background;
}

.button{
    -fx-focus-color : -wintergreen;
    -fx-faint-focus-color : rgba(0, 0, 0, 0);
    -fx-background-color: -background-2;
    -fx-border-radius: 3px;
    -fx-text-fill: -text;
}

.button:hover{
    -fx-background-color: derive(-wintergreen, 0.95);
}

.button:focused{
    -fx-background-color: derive(-wintergreen, 0.85);
}

.anchor-pane{
    -fx-background-color: -background;
}

.text-area{
    -fx-control-inner-background: -background-2;
    -fx-text-fill: -text;
}

.text-area .content{
    -fx-background-color: -background-2;
    -fx-text-fill: -text;
}

.split-pane-divider {
  -fx-background-color: -background;
}

.split-pane{
    -fx-background-color: -background;
}

.scroll-pane{
    -fx-background-color: -background;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:-background;
}

.increment-button, .decrement-button {
    -fx-background-color: -background;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: -background;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -background-2;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: -background;
}

.markdown{
    -fx-background-color: -background;
}

.0-br{
    -fx-border-radius: 0px;
}

.check-box .box {
    -fx-background-color: -background-2;
}

.check-box:selected .mark {
    -fx-color: -text;
    -fx-font-color: -text;
}

.check-box:selected .box {
    -fx-background-color: -wintergreen;
}

.check-box{
    -fx-text-fill: -text;
}

.dialog-pane {
    -fx-background-color: -background;
}

.dialog-pane:header .header-panel {
    -fx-background-color: -background-2;
}

.button:hover{
    -fx-opacity: 0.85;
}

.button:pressed{
    -fx-opacity: 0.70;
}

.status-bar > .label{
    -fx-padding: 2px 0px 2px 6px;
}

.progress-bar {
    -fx-accent: derive(-wintergreen, 50%);
}

.progress-bar .bar {
    -fx-padding: 0px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: -background;
}

#markdown-area {
    -fx-control-inner-background: -background-2;
    -fx-background-color: -background-2;
    -fx-text-fill: -text;
    -fx-fill: #ffffff;
    -fx-padding: 0 1em 0 1em;
}

#markdown-area .text{
    -fx-fill: white;
}

.caret {
    -fx-stroke: -text;
}

/*----*/
#markdown-area .text.heading{
    -fx-fill: -syntax-orange !important;
    -fx-font-size: 24px !important;
}

#markdown-area .text.bulletlistitem{
    -fx-fill: -syntax-gray;
}

#markdown-area .text.tasklistitem{
    -fx-fill: -syntax-gray;
}

#markdown-area .text.htmlblock{
    -fx-fill: -syntax-orange;
}

#markdown-area .text.fencedcodeblock{
    -fx-fill: -syntax-gray !important;
    -fx-font-family: monospace !important;
}

#markdown-area .text.link{
    -fx-fill: -syntax-purple;
    -fx-underline: true;
}

#markdown-area .text.code{
    -fx-fill: gray !important;
    -fx-font-family: monospace !important;
}

#markdown-area .text.image{
    -fx-fill: derive(-syntax-purple, -0.25);
}

#markdown-area .text.blockquote{
    -fx-fill: #9c9c9c;
}

#markdown-area .text.strong{
    -fx-font-weight: bold;
}
#markdown-area .text.emphasis{
    -fx-font-style: italic;
}
#markdown-area .text.strongemphasis{
    -fx-font-weight: bold;
}


